
body {
   
    background-color: #A2EAFF;
    
    }


.jumbotron {
    background-color: #00CBE7;
    color: #FD8A33;
   
    
}

.table table-striped{
    
     background-color: #00CBE9;
}


body{
    
       border: 25px solid #FFFFFF;
}


.text {
    
    color: #FD8A33;
    
}